.Checkbox {
  position: relative;
}
.Checkbox label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border:1px solid #ddd;
}
.Checkbox .tick {
  opacity: 0.0;
  position: absolute;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  pointer-events: none;
}
.Checkbox label:hover + .tick {
  opacity: 0.5;
}
.Checkbox input[type=checkbox]:checked ~ .tick {
  opacity: 1.0;
}
.Checkbox input[type=checkbox] {
  visibility: hidden;
}
