body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-content {
  background-color: #061529;
}
@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
  }
}
.main-content-bg {
  background-color: #eee;
  border-radius: 16px 0 0 0;
  padding: 16px;
  min-height: calc(100vh - 64px);
}

.ant-layout-sider-zero-width-trigger {
  top: -50px;
  right: -35px;
  border: 1px solid #EEE;
}

.Task {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.Task .taskDragger:hover {
  cursor: grab;
}

.Task .task-checkbox {
  margin: 0.5em 0 0 0;
}

.Task .task-title, .Keys .key-key, .Keys .key-keyName {
  border: 1px solid rgba(22,22,29,0);
  border-radius: 4px;
  padding: 5px 7px;
  width: 100%;
  display: inline-block;
}
.Task .task-title:hover, .Keys .key-keyName:hover, .Keys .key-key:hover {
  border: 1px solid #d9d9d9;
}
.Task .task-title-edited, .Keys .editing-key-keyName, .Keys .editing-key-key {
  width: 100%;
  padding: 5px 7px;
  border: 1px solid #40a9ff;
  border-radius: 4px;
}

.SideMenu .submenu-selected {
  background-color: #1890ff;
}

.Filter .filter-button-group-wrapper {
  display: table;
  width: 100%;
}
.Filter .filter-button-group {
  display: table-row;
}
.Filter .filter-button {
  display: table-cell;
  padding: 0 8.55%;
}
.Filter .filter-button-selected {
  background-color: #40a9ff;
}

.blurry {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.blurry:hover {
  color: inherit;
  text-shadow: unset;
}

.ant-table-body > tr:hover > td {
  background-color: #f8db99;
}
.ant-table-thead > tr > th {
  background-color: #061529;
  color: #ffffffa6;
  font-weight: bold;
}
