body {
  background-color: #061529;
}

.Landing {
  color: #efefef;
  font-size: 18px;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 10px;
}

.Landing .landing-logo {
  text-align: center;
  padding-top: 100px;
}

.Landing .tagline {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

.Landing .account-buttons {
  text-align: center;
  margin-bottom: 1.5em;
}

.Landing .faq-heading {
  font-size: 1.5em;
  font-weight: bold;
}

.Landing dt {
  font-weight: bold;
}

.Landing .footer-disclaimer {
  margin-top: 100px;
  color: #999;
}
